@import 'fonts.css';


* {
  margin : 0;
  padding: 0;
}

/* ROOT START */

:root {
  --ps400        : 'Product-Sans-Regular';
  --m400         : 'Montserrat-Regular';
  --m700         : 'Montserrat-Bold';
  --bg           : #282929;
  --white        : #ffffff;
  --black        : #000000;
  --dark         : #1e2020;
  --yellow       : #ffcb02;
  --yellow-dark  : #d2a90b;
  --devider-color: #5d5d5d;
  --logo-gradient: linear-gradient(133deg, var(--white), red);
}

body {
  font-family        : var(--ps400);
  /* background-color: var(--dark); */
}

html {
  scroll-behavior: smooth;
  /* position    : relative; */
}

/* .top{
width: 40px;
height: 40px;
background: rgba(255, 0, 0, 0);
position: fixed;
z-index: 1;
bottom: 0;
right: 0;
left: 1000px;
top: 530px;
color: rgba(255, 5, 5, 0.329);
font-size: 30px;
border: 1px solid white;
border-radius: 5px;
} */
a:hover {
  text-decoration: none !important;
}

.logo {
  font-size     : 26px;
  text-transform: uppercase;
  color         : red;
  font-family   : var(--ps400);
  line-height   : 20px;
  border        : 1px solid transparent;
  border-image  : 1 var(--logo-gradient);
  padding       : 4px 5px 7px 4px;
  transition    : color 0.5s;
}

.logo:hover {
  color          : red;
  text-decoration: none;
}

.nav__link-dropdown {
  background: linear-gradient(1deg, maroon, grey);
}

.dropdown-divider {
  border-top: 1px solid var(--devider-color);
}

.drop {
  color     : white;
  transition: 0.5s;
}

.drop:hover {
  background: linear-gradient(1deg, maroon, grey);
  color     : white;
}

.drop2 {
  color: white;
}

.drop2:hover {
  background: linear-gradient(1deg, maroon, grey);
  color     : white;
}

.person-info__title {
  text-align    : center;
  overflow      : hidden;
  max-width     : max-content;
  padding-top   : 50px;
  margin        : auto;
  text-transform: uppercase;
  line-height   : 22px;
  font-size     : 28px;
  color         : black;
}

.person-info__title::before,
.person-info__title::after {
  content         : '';
  display         : block;
  background-color: red;
  height          : 2px;
  margin-top      : 60px;
  margin-bottom   : 8px;
  margin-left     : 50%;
  margin-right    : auto;
}

.person-info__title::after {
  margin-top   : 8px;
  margin-bottom: 30px;
  margin-left  : auto;
  margin-right : 50%;
}

.person-info__title::before {
  margin-top: 0;
}

.person-info__txt {
  text-align    : center;
  overflow      : hidden;
  color         : black;
  padding-bottom: 57px;
  font-size     : 18px;
  line-height   : 24px;
  margin        : 0;
}

.person_bg {
  background: black;
}

.p1 {
  color     : white;
  margin-top: 70px;
}

/* ROOT END */
/* ******************************** */
/* HEADER START */

.header {
  /* background: linear-gradient(133deg, black, red); */
  height    : 100vh;
  overflow-y: hidden;
}

main {
  width: 100%;
}

.header__nav {
  padding   : 23px 0;
  background: linear-gradient(133deg, black, rgb(151, 0, 0));
}


.header__logo_white {
  color         : var(--white);
  text-transform: lowercase;
  transition    : 1s;
}

.header__logo_size {
  font-size: 22px;
  display  : block;
}

.header__logo_position {
  margin: 0 0 3px 4px;
}

.logo:hover .header__logo_white {
  color         : red;
  text-transform: uppercase;
}

.nav__link {
  color         : var(--white);
  text-transform: uppercase;
  font-family   : var(--ps400);
  font-size     : 20px;
  line-height   : 14px;
  display       : block;
  margin        : 0 35px;
  transition    : 0.5s;
}

.nav__link:hover {
  transform      : translateY(-3px);
  text-decoration: none;
  color          : red;
}

.nav__button {
  border-color: var(--yellow);
  color       : var(--white);
}

.header__info {
  background           : url(../images/web-development.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  height               : 100vh;
  color                : var(--white);
}

.info__title {
  text-transform         : uppercase;
  font-size              : 60px;
  line-height            : 45px;
  margin-bottom          : 52px;
  overflow               : hidden;
  background             : -webkit-linear-gradient(-90deg, white, rgb(58, 56, 56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info__txt {
  line-height: 27px;
  font-size  : 28px;
  overflow   : hidden;
}

/* HEADER END */
/* *****************/
/* MAIN START */
.btn {
  border-radius : 22px;
  background    : var(--white);
  text-transform: uppercase;
  font-size     : 16px;
  line-height   : 12px;
  /* width      : max-content; */
}

.nav-link {
  color     : var(--black-bg);
  font-size : 16px;
  background: var(--white);
  margin    : 0 20px 20px;
  padding   : 13px 28px;
  transition: 0.5s;

}

.carousel__btn {
  font-size: 30px;

}

.carousel__btn ::before {
  color: red;
}

.carousel__btn ::after {
  color: grey;
}

.carousel_img {
  object-fit: cover;
  width     : 100%;
}





.nav-link.active {
  background: var(--black-bg);
  color     : var(--white);
  border    : none;
}

.nav-link:hover {
  background: linear-gradient(13deg, red, white);
  border    : none;
}

.nav-link.active:hover {
  background: var(--black-bg);
  color     : var(--white);
  border    : none;
}

.tab-content__img {
  object-fit   : cover;
  border-radius: 5px;
}

.tab-content__box {
  border-radius: 5px;
  background   : var(--black-bg);
  padding      : 21px 14px 19px 23px;
  min-height   : 100%;
}

.tab-content__title {
  font-size    : 24px;
  color        : red;
  margin-bottom: 10px;
}

.tab-content__txt {
  font-family: var(--m400);
  color      : var(--white);
  font-size  : 16px;
  line-height: 24px;
}

.tab-content__btn {
  background : var(--yellow-span);
  color      : var(--white);
  font-size  : 20px;
  line-height: 12px;
  padding    : 15px 62px;
}


.main__html {
  background : maroon;
  padding-top: 70px;
}

.card-body {
  background: var(--dark);
  color     : var(--white);
  border    : none;
}

.card-header {
  background: maroon;
}

.btn-link {
  padding   : 0;
  background: maroon;
}

.collapse__txt {
  color: white;
}

.icon_txt {
  font-family: var(--m700);
  font-size  : 15px;
  margin     : auto;
  margin-left: 10px;
}







.register{
  background:maroon ;
  padding-top: 70px;
  padding-bottom: 70px;
}


.imya, .fam, .email{
  margin-bottom: 30px;
  background: var(--dark);
  color: white;
border: 1px solid white;
border-radius: 3px;
padding: 5px;
}
.kom{
  margin: auto;
  padding: 5px;
  width: 217px;
  height: 100px;
  background: var(--dark);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}
.subm{
  padding: 4px;
  background: #000;
  color: white;
  margin-top: 20px;
  border: 1px solid white;
}
.subm:hover{
  background:linear-gradient(13deg, red, white) ;
}



/* MAIN END */
/* ***************** */
/* FOOTER START */
footer {
  margin-top: 15px;
  margin    : 20px 0 25px;
}

li {
  list-style: none;
  text-align: center;
}

.footer_menu {
  margin-top: 45px;
}

.footer-menu__link {
  text-align    : center;
  text-transform: uppercase;
  font-family   : var(--ps400);
  font-size     : 20px;
  color         : black;
  transition    : 0.5s;
}

.footer-menu__link:hover {
  color: red;
}

.footer-phone {
  font-family: var(--ps400);
  font-size  : 19px;
  color      : black;
}

.footer-mail {
  font-family: var(--ps400);
  font-size  : 19px;
  color      : black;
}

.log {
  color: #000000;
}


/* FOOTER END */
/* *****************/
/* MEDIA START */

@media(max-width: 992px) {
  .nav__link {
    text-align: right;
    margin    : 30px 0 0;
  }

  .nav__link-dropdown {
    right: 0 !important;
    left : auto !important;
  }

  .person-info__txt {
    text-align: center;
  }
}

@media(max-width:992px) {

  .carousel-info__title,
  .carousel-info__txt {
    text-align: center;
  }

  .center {
    justify-content: center;
  }
}


@media(max-width: 767px) {
  .info__title {
    font-size    : 40px;
    line-height  : 35px;
    margin-bottom: 22px;
    text-align   : center;
  }


  .info__txt {
    line-height: 20px;
    font-size  : 16px;
    text-align : center;
  }
}


/* @media(max-width:700px){
  .nav__link-dropdown{
    width: 60px;
    height: 20px;
    font-size: 13px;
  }
} */

@media(max-width: 576px) {
  .info__txt {
    display: none;
  }
}

@media(max-width: 350px) {

  .footer-mail,
  .footer-phone {
    font-size: 15px;
  }

}

/* MEDIA END */